<div class="ab-main">
  <span class="ab">About Us</span>
  <div class="ab-top">
    <div class="ab-top-content">
      <h1><span>Introduction</span> To Best Mens Ecommerce Website!</h1>
     <div class="two-part">
      <p>Your destination for curated men's fashion. Discover quality apparel, footwear, and accessories blending timeless style with modern trends.</p>
  <p>More than a store, we're your guide to building a confident wardrobe. Explore our collections and find your perfect look.</p>

     </div>
    </div>
    <div class="ab-top-card">
      <div class="f1">
        <img src="../../../assets/dev-images/akash/fd.jpg" alt="" />
        <div class="ab-card-content">
          <h4>Best Price</h4>
          <span>We offer competitive prices on all our products.</span>
        </div>
      </div>
      <div class="f1">
        <img src="../../../assets/dev-images/akash/fd.jpg" alt="" />
        <div class="ab-card-content">
           <h4>Fast Delivary</h4>
          <span>Enjoy swift and reliable shipping on every order.</span>
        </div>
      </div>
      <div class="f1">
        <img src="../../../assets/dev-images/akash/fd.jpg" alt="" />
        <div class="ab-card-content">
          <h4>Good Quality</h4>
          <span>Our collection features high-quality materials and craftsmanship.</span>
        </div>
      </div>
    </div>
    <div class="ab-top-pic">
      <img src="../../../assets/dev-images/banner3.png" alt="" />
          </div>
  </div>
  <div class="ab-bottom">
    <span id="ab-our-team">our team</span>
    <h2><span>Team </span>Member</h2>
    <p class="ab-team">
      
    </p>
    <div class="ab-bottom-card">
      <!-- social-card.component.html -->
      <div class="social-card">
        <div class="profile">
          <img
            src="../../../assets/dev-images/akash/aka.jpg"
            alt="Profile Image"
            class="profile-image"
          />
          <h3 class="profile-name">Aniket Chakkarwar</h3>
          <p class="profile-description">Backend Developer </p>
        </div>
        <div class="social-links">
          <a href="https://github.com" target="_blank">
            <i class="ri-github-fill social-icon"></i>
          </a>
          <a href="https://twitter.com" target="_blank">
            <i class="ri-twitter-fill social-icon"></i>
          </a>
          <a href="https://linkedin.com" target="_blank">
            <i class="ri-linkedin-fill social-icon"></i>
          </a>
          <a href="https://instagram.com" target="_blank">
            <i class="ri-instagram-fill social-icon"></i>
          </a>
        </div>
      </div>
      <div class="social-card">
        <div class="profile">
          <img
            src="../../../assets/dev-images/akash/boy.jpg"
            alt="Profile Image"
            class="profile-image"
          />
          <h3 class="profile-name">Soloman Varghese</h3>
          <p class="profile-description">Frontend Developer</p>
        </div>
        <div class="social-links">
          <a href="https://github.com" target="_blank">
            <i class="ri-github-fill social-icon"></i>
          </a>
          <a href="https://twitter.com" target="_blank">
            <i class="ri-twitter-fill social-icon"></i>
          </a>
          <a href="https://linkedin.com" target="_blank">
            <i class="ri-linkedin-fill social-icon"></i>
          </a>
          <a href="https://instagram.com" target="_blank">
            <i class="ri-instagram-fill social-icon"></i>
          </a>
        </div>
      </div>

      


    </div>

    <button class="add-to-cart-btn">
      <span class="icon"><i class="ri-shopping-cart-line"></i></span>
      Contact Us
    </button>
  </div>
</div>
